---
---

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  line-height: var(--spacing);
  box-shadow: var(--shadow);
}

footer[data-dark="false"] {
  --primary: #1e63c6;
  --text: #1f2b3d;
  --background: #fffdfa;
  --overlay: rgba(255, 251, 245, 0.28);
}

footer a {
  color: var(--text) !important;
}

footer a:hover {
  color: var(--primary) !important;
}

footer .icon {
  font-size: var(--xl);
}
