{% assign button = include %}
{% assign button = button | hash_default: site.data.types[include.type] %}
{% assign button_href = button.link %}
{% unless button_href contains "://" or button_href contains "mailto:" or button_href contains "tel:" or button_href contains "#" %}
  {% assign button_href = button_href | relative_url %}
{% endunless %}

{% if button.link or button.icon or button.text %}
  <div class="button-wrapper">
    <a
      class="button"
      href="{{ button_href }}"
      {% if button.tooltip %}
        data-tooltip="{{ button.tooltip | xml_escape }}"
      {% endif %}
      data-style="{{ include.style }}"
      {% if include.flip %}
        data-flip
      {% endif %}
      aria-label="{{ button.tooltip | default: button.icon | default: "button" | regex_strip }}"
    >
      {% include icon.html icon=button.icon %}
      {% if button.text and button.text != "" %}
        <span>{{ button.text }}</span>
      {% endif %}
    </a>
  </div>
{% endif %}
