{% assign figure_href = include.link %}
{% unless figure_href contains "://" or figure_href contains "mailto:" or figure_href contains "tel:" or figure_href contains "#" %}
  {% assign figure_href = figure_href | relative_url | uri_escape %}
{% endunless %}

{% assign figure_src = include.image %}
{% unless figure_src contains "://" or figure_src contains "data:" %}
  {% assign figure_src = figure_src | relative_url | uri_escape %}
{% endunless %}

<figure class="figure">
  <a
    {% if figure_href %}
      href="{{ figure_href }}"
    {% endif %}
    class="figure-image"
    aria-label="{{ include.caption | default: "figure link" | regex_strip }}"
  >
    <img
      src="{{ figure_src }}"
      style="
        width: {{ include.width | default: "auto" }};
        max-height: {{ include.height | default: "unset" }};
      "
      alt="{{ include.caption | default: "figure image" | regex_strip }}"
      loading="lazy"
      {% include fallback.html %}
    >
  </a>
  {% if include.caption %}
    <figcaption class="figure-caption">
      {{ include.caption | markdownify | remove: "<p>" | remove: "</p>" }}
    </figcaption>
  {% endif %}
</figure>
